<div class="movie-list-container">
  <h2>Movies List</h2>

  <!-- Mensagem de atenção -->
  <div *ngIf="showNoResultsMessage" class="no-results">
    No movies found for the selected Year filter.
  </div>

  <!-- Tabela de filmes -->
  <table *ngIf="filteredMovies.length > 0" class="movie-list-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Year
          <br />
          <input type="text" [(ngModel)]="yearFilter" (input)="applyFilters()" placeholder="Filter by year"
            class="filter-input" />
        </th>
        <th>Title</th>
        <th>Winner ?
          <br />
          <select [(ngModel)]="winnerFilter" (change)="applyFilters()" class="filter-select">
            <option value="">All</option>
            <option value=true>Yes</option>
            <option value=false>No</option>
          </select>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies; let i = index">
        <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.title }}</td>
        <td>{{ movie.winner ? 'Yes' : 'No' }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Paginação -->
  <div class="pagination">
    <button (click)="goToFirstPage()" [disabled]="currentPage === 1">
      «
    </button>
    <button (click)="previousPage()" [disabled]="currentPage === 1">
      ‹
    </button>
    <button *ngFor="let page of getPaginationRange()" (click)="goToPage(page)" [class.active]="page === currentPage">
      {{ page }}
    </button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      ›
    </button>
    <button (click)="goToLastPage()" [disabled]="currentPage === totalPages">
      »
    </button>
  </div>

</div>